.conaitaner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  font-size: large;
  margin: 30px;
  border-bottom: 1px solid rgb(177, 168, 168);
  font-size: large;
  width: 100%;
  max-width: 600px;
}

input:focus {
  border-color: red;
}

.table {
  background: #c4bfbf;
  margin: 20px 0;
}

th {
  padding-right: 150px;
  padding-left: 7px;
  font-size: x-large;
  padding-bottom: 15;
}

td {
  padding-right: 120px;
  padding-top: 10px;
  padding-left: 7px;
  padding-bottom: 10px;
}

.Btn1 {
  background: #ff3a09;
  border-radius: 7px;
  margin: 2px;
  padding: 10px 15px;
}

.Btn2 {
  background: #18d137;
  border-radius: 7px;
  margin: 2px;
  padding: 10px 15px;
}

.btn {
  display: flex;
  font-size: large;
  justify-content: center;
  color: rgb(227, 227, 233);
  background-color: blue;
  padding: 7px 12px;
  border-radius: 9px;
}

.primeBtn {
  font-size: large;
  color: rgb(14, 14, 212);
  background-color: rgb(101, 241, 8);
  padding: 7px 12px;
  border-radius: 9px;
  margin: 7px;
}


.withDesc {
  background: #a8a8aa;
}

.withPrice {
  background: #a8a8aa;
}

.withcat {
  background: #a8a8aa;
}

.headLine {
  background: #a8a8aa;
}

#board li {
  list-style: none;
}

#downloadList {
  display: flex;
  justify-content: end;
  margin-left: auto;
  margin-right: 30px;
  border: 1px solid black;
  padding: 7px;
}

.primeUserList {
  display: flex;
}

#primeUser h1 {
  display: flex;
  justify-content: center;
}

#board {
  border: 1px solid black;
  padding: 7px;
}

.dropbtn {
  background-color: #97999b;
  color: white;
  padding: 6px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}