.container{
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  max-width: 30%;
  border: 2px solid black;
}

.form{
  display: flex;
  flex-direction: column;
  margin: 10%;
}

label{
  display: block;
  margin-top: 2%;
}
input{
  font-size: large;
  margin-top: 1%;
  text-decoration: none;
  border-radius: 7px;
  padding: 2%;
  font-size:large;
}

.btn{
  display: flex;
  justify-content: center;
  color: rgb(227, 227, 233);
  background-color: blue;
  padding: 7px 12px;
  margin: 19px;
  max-width:min-content;
  border-radius: 9px;
}